{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('update_post') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title">
        <dt>Text:
        <dd><textarea name="content" rows="5" cols="40"></textarea>
        <dd>
        <input type="hidden" name="type"  value="new" />
        <input type="submit" value="Save"> <a href="/admin"> <input type="button" value="Cancel" /></a>

      </dl>
    </form>
  {% endif %}

{% endblock %}
